<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Заголовок страницы{% endblock %} | Облкадастр</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    {% block nav %}
        <!-- Меню -->
    {% endblock nav %}
    <main>
        <div class="container">
            {% block content %}
            <!-- Содержимое страницы -->
            {% endblock content %}
        </div>
    </main>
    {% include "footer.html" %}{{ form.media.js }}
    {% block scripts %}
    <!-- Скрипты -->
    {% endblock scripts %}

</body>
</html>