   <!-- footer
   ================================================== -->
   <footer>

    <div class="footer-main">

      <div class="row">  

         <div class="col-four tab-full mob-full footer-info">            

             <div class="footer-logo"></div>

             <p>
           679016, Еврейская АО<br>
             г. Биробиджан, ул. Ленина, д. 15<br>
       oblkadastr@post.eao.ru &nbsp; 8 (4212) 2-12-43
           </p>

         </div> <!-- /footer-info -->

         <div class="col-two tab-1-3">

           <h4>Главная</h4>

           <ul>
            <li><a href="#services">Услуги</a></li>
            <li><a href="#news">Новости</a></li>
            <li><a href="#map">Кадастровая карта</a></li>
          </ul>

         </div> <!-- /site-links -->  

         <div class="col-three tab-1-3">

           <h4>Кадастровая оценка</h4>

           <ul>
             <li><a href="#">Глоссарий</a></li>
         <li><a href="#">Этапы проведении КО</a></li>
         <li><a href="#">Отчеты</a></li>
         <li><a href="#">Акты</a></li>
       </ul>
                      
         </div> <!-- /social --> 
       
     <div class="col-three tab-1-3">

       <h4>Об Учреждении</h4>

       <ul>
           <li><a href="#">Руководство</a></li>
           <li><a href="#">Филиалы</a></li>
           <li><a href="#">Реквизиты</a></li>
           <li><a href="#">Контакты</a></li>
       </ul>	      		
              
     </div>  <!-- /subscribe -->         

       </div> <!-- /row -->

    </div> <!-- /footer-main -->


     <div class="footer-bottom">

       <div class="row">

         <div class="col-twelve">
           <div class="copyright">
              <span>2021 © ОГБУ «Центр государственной кадастровой оценки и технической инвентаризации Еврейской автономной области»</span>		         	
            </div>

            <div id="go-top" style="display: block;">
               <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon ion-android-arrow-up"></i></a>
            </div>         
         </div>

       </div> <!-- /footer-bottom -->     	

     </div>

  </footer> 