<!-- menu 
================================================== -->
<header style="background: #171b23; top: 0px !important;">
    <div class="row">
      <div class="logo">
          <a href="{% url 'index' %}">ОГБУ "Облкадастр"</a>
       </div>

      <nav id="main-nav-wrap">
       <ul class="main-navigation">
         <li class="highlight with-sep"><a class="smoothscroll" href="{% url 'index' %}" title="Главная">Главная</a></li>
         <li class="highlight with-sep"><a href="{% url 'cadastral' %}" title="Кадастровая оценка">Кадастровая оценка</a></li>
         <li class="highlight with-sep"><a href="#" title="Документы">Документы</a></li>	
         <li class="highlight with-sep"><a href="#" title="Об Учреждении">Об Учреждении</a></li>						
       </ul>
     </nav>

     <a class="menu-toggle" href="#"><span>Menu</span></a>
    </div>   	
</header> <!-- /menu -->