{% extends "base.html" %}
{% block title %}Акты{% endblock %}
{% load static %}
{% load cadastral_filters %}
{% block nav %}
    {% include "nav.html" %}
{% endblock nav %}
{% block content %}
<section id="acts">
    <div class="row section-intro">
        <div class="col-twelve with-bottom-line">
            <h5>Отчёты</h5>
            <h1>Отчёты об определении кадастровой стоимости</h1>
        </div>   		
    </div>

      <div class="row">
      	<div class="col-twelve">
      		<div class="table-responsive">
      			<table>
					  <thead>
					    <tr>
					      <th>Номер отчёта</th>
					      <th>Дата отчёта</th>
					      <th>Количество объектов недвижимости, в отношении которых составлен отчёт</th>					    
					    </tr>
					  </thead>
					  <tbody>
						{% for act in page %}
					    <tr>
					      <td><a href="/media/{{act.path}}">{{act.number}}</a></td>
					      <td>{{act.pub_date|date:"d.m.Y г."}}</td>
					      <td>{{act.num_obj|count_objects}} недвижимости, указаны в отчёте</td>					    
					    </tr>
						{% endfor %}
					  </tbody>
					</table>
      		</div>
              <div class="text-center">
                {% if page.has_other_pages %} 
                    {% include "paginator.html" with items=page paginator=paginator%}
                {% endif %}  
              </div> 
      	</div>

      </div>  
</section>
{% endblock %}