{% load static %}
<!-- intro section
================================================== -->
<section id="intro">

    <div class="shadow-overlay"></div>

    <div class="intro-content">
        <div class="row">

         <div class="video-link">
             <a href="#"><img src="{% static 'images/logo-color.png' %}" alt=""></a>
         </div>

            <div class="col-twelve">

                <h5>ОБЛАСТНОЕ ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕ УЧРЕЖДЕНИЕ</h5>
                <h1>ЦЕНТР ГОСУДАРСТВЕННОЙ КАДАСТРОВОЙ ОЦЕНКИ И ТЕХНИЧЕСКОЙ ИНВЕНТАРИЗАЦИИ ЕАО</h1>

                <a class="button stroke smoothscroll" href="#process" title="">Об Учреждении</a>

            </div>  
            
        </div>   		 		
    </div> 

</section> <!-- /intro -->