{% load static %}
<!-- map section
================================================== -->
<section id="map">

    <div class="shadow-overlay"></div>

    <div class="map-content">
        <div class="row">

            <div class="col-twelve">

                <h5>Публичная кадастровая карта</h5>
                <h1>Предоставляние сведений из ЕГРН в режиме онлайн</h1>

                <a class="button smoothscroll" href="https://pkk.rosreestr.ru/#/search/48.5952580958216,133.8043627499953/8/" title="Кадастровая карта" target="_blank">Перейти к сервису</a>

            </div>  
            
        </div>   		 		
    </div> 

</section> <!-- /map -->