	<!-- header 
   ================================================== -->
   <header>

    <div class="row">

      <div class="logo">
          <a href="{% url 'index' %}">ОГБУ "Облкадастр"</a>
       </div>

      <nav id="main-nav-wrap">
       <ul class="main-navigation">
         <li class="current"><a class="smoothscroll"  href="#intro" title="">Главная</a></li>
         <li><a class="smoothscroll"  href="#services" title="">Услуги</a></li>
         <li><a class="smoothscroll"  href="#news" title="">Новости</a></li>
         <li><a class="smoothscroll"  href="#map" title="">Кадастровая карта</a></li>				
         <li class="highlight with-sep"><a href="{% url 'cadastral' %}" title="">Кадастровая оценка</a></li>
         <li class="highlight with-sep"><a href="#" title="">Документы</a></li>	
         <li class="highlight with-sep"><a href="#" title="">Об Учреждении</a></li>						
       </ul>
     </nav>

     <a class="menu-toggle" href="#"><span>Menu</span></a>
      
    </div>   	
    
  </header> <!-- /header -->