   <!-- Process Section
   ================================================== -->
<section id="acts">

    <div class="row section-intro">
        <div class="col-twelve with-bottom-line">
            <h5>Акты</h5>
            <h1>Акты об определении кадастровой стоимости</h1>
        </div>   		
    </div>

      <div class="row">
      	<div class="col-twelve">
      		<div class="table-responsive">
      			<table>
					  <thead>
					    <tr>
					      <th>Номер акта</th>
					      <th>Дата акта</th>
					      <th>Количество объектов недижимости, в отношении которых составлен акт</th>					    
					    </tr>
					  </thead>
					  <tbody>
						{% for act in data%}
					    <tr>
					      <td><a href="files/{{act.path}}">{{act.number}}</a></td>
					      <td>{{act.pub_date|date:"d.m.Y г."}}</td>
					      <td>{{act.num_obj}} объектов недвижимости, указанных в настоящем акте</td>					    
					    </tr>
						{% endfor %}
					  </tbody>
					</table>
      		</div>     		
      	</div>
      </div> <!--row -->      
   	
   </section> <!-- /styles -->