{% load static %}
<!-- cadastral section
================================================== -->
<section id="cadastral">

    <div class="shadow-overlay"></div>

    <div class="cadastral-content">
        <div class="row">

            <div class="col-twelve">
                <h1>Кадастровая оценка</h1>
                <blockquote cite="http://where-i-got-my-info-from.com">
                    <p>совокупность процедур, направленных на определение кадастровой стоимости.</p>
                </blockquote>
            </div>  
            <a class="button stroke smoothscroll" href="#process" title="">Федеральный закон № 237-ФЗ</a>
        </div>   		 		
    </div> 

</section> <!-- /cadastral -->