	<!-- header 
   ================================================== -->
   <header>

    <div class="row">

      <div class="logo">
          <a href="{% url 'index' %}">ОГБУ "Облкадастр"</a>
       </div>

      <nav id="main-nav-wrap">
       <ul class="main-navigation">
         <li class="highlight"><a href="{% url 'index' %}" title="">Главная</a></li>			
         <li class="current with-sep"><a class="smoothscroll" href="#" title="">Кадастровая оценка</a></li>
         <li><a class="smoothscroll"  href="#services" title="">Глоccарий</a></li>
         <li><a class="smoothscroll"  href="#services" title="">Этапы</a></li>
         <li><a class="smoothscroll"  href="#report" title="">Отчёты</a></li>
         <li><a class="smoothscroll"  href="#acts" title="">Акты</a></li>	
         <li class="highlight with-sep"><a href="#" title="">Документы</a></li>	
         <li class="highlight with-sep"><a href="#" title="">Об Учреждении</a></li>						
       </ul>
     </nav>

     <a class="menu-toggle" href="#"><span>Menu</span></a>
      
    </div>   	
    
  </header> <!-- /header -->